:root {
  --primary-bg-color: aliceblue;
  --secondary-bg-color: slategray;
  --error-color: red;
  --primary-color: lightblue;
  --secondary-color: pink;

  --primary-text-color: black;
  --secondary-text-color: white;
}

.form-field {
  --max-width: 300px;
}